<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Flex Box Side Titles</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box">
        <h3>Example table</h3>
        <div class="table table--3cols">
            <div class="order1 table-cell table-cell--head">
                <h3>Arya Stark</h3>
            </div>
            <div class="order2 table-cell table-cell--head">
                <h3>Arya Stark</h3>
            </div>
            <div class="order3 table-cell table-cell--head">
                <h3>Arya Stark</h3>
            </div>
            <div class="order1 table-cell">Has a sword named Longclaw</div>
            <div class="order2 table-cell">Direwolf: Ghost</div>
            <div class="order3 table-cell">Knows nothing</div>
            <div class="order1 table-cell">Has a sword named Needle</div>
            <div class="order2 table-cell">Direwolf: Stark</div>
            <div class="order3 table-cell">No one</div>
        </div>
</body>

</html>