<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login Flex</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box">
        <div class="container">
            <form>
                <ul class="flex-outer">
                    <li>
                      <label for="email">Email</label>
                      <input type="email" id="email" placeholder="Enter your email here" />
                    </li>
                    <li>
                      <label for="password">Last Name</label>
                      <input type="password" id="password" placeholder="Enter your password here" />
                    </li>
                    <li>
                      <p></p>
                      <ul class="flex-inner">
                        <li>
                            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1" />
                            <label for="styled-checkbox-1">Remember me</label>
                        </li>
                </ul>
                </li>
                <li>
                      <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>

</html>