html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    border: double 3px #dddddd;
    border-top: none;
    border-bottom: none;
    font: normal 18px/1.5 'Fira Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}

.box {
    margin-top: 2%;
    background: #eeeeee;
    padding: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 5px;
    font-weight: 300;
    letter-spacing: .09em;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li input[type='radio'] {
    flex: 0 0 0px;
    text-align: right;
    cursor: pointer;
}

.flex-outer li select {
    cursor: pointer;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    cursor: pointer;
}

.flex-inner li {
    width: 100px;
}

.select-dropdown {
    position: relative;
    background-color: #ffffff;
    width: auto;
    float: left;
    max-width: 100%;
    border-radius: 2px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaaaaa;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #ffffff;
}

.styled-checkbox:hover+label:before {
    background: #f35429;
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
    background: #f35429;
}

/* Custom radio buttons */
input[type='radio']+label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-size: 13px;
}

input[type='radio']+label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 14px;
    position: absolute;
    top: -3px;
    left: 0;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    border-radius: 50%;
}

input[type='radio'] {
    display: none !important;
}

input[type='radio']:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b7b7b7;
}