<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Multi Flex</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box">
        <div class="container">
            <form>
                <ul class="flex-outer">
                    <li>
                      <label for="first-name">First Name</label>
                      <input type="text" id="first-name" placeholder="Enter your first name here" />
                    </li>
                    <li>
                      <label for="last-name">Last Name</label>
                      <input type="text" id="last-name" placeholder="Enter your last name here" />
                    </li>
                    <li>
                      <label for="email">Email</label>
                      <input type="email" id="email" placeholder="Enter your email here" />
                    </li>
                    <li>
                      <label for="phone">Phone</label>
                      <input type="tel" id="phone" placeholder="Enter your phone here" />
                    </li>
                    <li>
                      <label for="message">Message</label>
                      <textarea rows="6" id="message" placeholder="Enter your message here"></textarea>
                    </li>
                    <li>
                            <label for="select">Select</label>
                              <div class="select-dropdown">
                                <select id="select">
                                  <option value="Brooklyn">Brooklyn</option>
                                  <option value="Manhattan">Manhattan</option>
                                  <option value="Queens">Queens</option>
                                </select>
                            </div>
                          </li>
                    <li>
                      <label for="gender">Gender</label>
                      <div class="radio">
                          <input id="first" type="radio" name="numbers" value="first" />
                          <label for="first">First</label>
                          <input id="second" type="radio" name="numbers" value="second" />
                          <label for="second">Second</label>
                        </div>
                    </li>
                    <li>
                      <p>Age</p>
                      <ul class="flex-inner">
                        <li>
                            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1" />
                            <label for="styled-checkbox-1">23-23</label>
                        </li>
                    <li>
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1" />
                            <label for="styled-checkbox-2">23-23</label>
                        </li>
                    <li>
                            <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1" />
                            <label for="styled-checkbox-3">23-23</label>
                        </li>
                    <li>
                            <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value1" />
                            <label for="styled-checkbox-4">23-23</label>
                        </li>
                    <li>
                            <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value1" />
                            <label for="styled-checkbox-5">23-23</label>
                        </li>
                    <li>
                            <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value1" />
                            <label for="styled-checkbox-6">23-23</label>
                        </li>
                </ul>
                </li>
                <li>
                      <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>

</html>