<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items Rows</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="Grid Grid--full u-textCenter">
            <div class="Grid-cell">
                <div class="Demo content-1of1"></div>
            </div>
            <div class="Grid-cell">
                <div class="Demo content-1of1"></div>
            </div>
            <div class="Grid-cell">
                <div class="Demo content-1of1"></div>
            </div>
        </div>
    </div>
</body>

</html>